body {padding:0; margin:0; position:relative; width:100%; height:100vh; background:#353b48}
.custom-wrap {position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:20px; background:rgba(0, 0, 0, 0.5); color:#000; text-align:center; transition:.4s; }
p {font-size:120px}
p span {font-size:40px}

/* user name */
.js-form {display:none; position:relative; padding:15px 0 0; margin:25px 0; width:100%}
.user-name, .js-greetings {color:#fff; font-size:32px; font-weight:800; text-transform:uppercase}
.user-name {margin-left:10px; color:#18dcff}
.js-greetings {display:none}
.showing {display:inline-block}
.js-form .name-input {padding:7px 0; width:100%; border:none; border-bottom:2px solid #fff; outline:0; color:#fff; transition:border-color 0.2s; background:transparent; font-size:30px; text-transform:uppercase}
.name-input::placeholder {color:transparent; font-size:100%}
.name-input:placeholder-shown ~ .name-label {cursor:text; top:34px}
.name-label {position:absolute; top:0; display:block; transition:0.2s; color:#fff; font-size:20px; font-weight:400}
.name-input:focus {padding-bottom:6px; border-width:3px; border-image:linear-gradient(to right, #f78fb3, #18dcff); border-image-slice:1}
.name-input:focus ~ .name-label {position:absolute; top:-4px; display:block; transition:0.2s; color:#f78fb3; font-size:16px; font-weight:800}
.name-input:required, .name-input:invalid {box-shadow:none}

/* todo list */
.js-toDoForm {position:relative; padding:15px 0 0; width:100%}
.js-toDoForm .todo-input {padding:7px 0; width:100%; border:none; border-bottom:2px solid #fff; outline:0; color:#fff; transition:border-color 0.2s; background:transparent; font-size:30px; text-transform:uppercase}
.todo-input::placeholder {color:transparent}
.todo-input:placeholder-shown ~ .todo-label {cursor:text; top:34px}
.todo-label {position:absolute; top:0; display:block; transition:0.2s; color:#fff; font-size:20px; font-weight:400}
.todo-input:focus {padding-bottom:6px; border-width:3px; border-image:linear-gradient(to right, #f78fb3, #18dcff); border-image-slice:1}
.todo-input:focus ~ .todo-label {position:absolute; top:-4px; display:block; transition:0.2s; color:#f78fb3; font-size:16px; font-weight:800}
.todo-input:required, .todo-input:invalid {box-shadow:none}
.js-toDoList li {position:relative; padding:7px 0; text-transform:uppercase; color:#fff; text-align:left; list-style:none}
.js-toDoList li::before {content:""; display:block; position:absolute; top:50%; left:-25px; width:18px; height:18px; transform:translate(0, -50%); background:url("../custom-web-home/images/list-style.png") no-repeat center}
.js-toDoList li::after {content:""; display:block; clear:both}
.js-toDoList li span {float:left}
.js-toDoList li span:not(.del-btn) {margin-right:3px; line-height:1.25rem; font-size:18px}
.js-toDoList li .del-btn {display:inline-block; position:relative; margin-left:2px; width:22px; height:22px; background:transparent; cursor:pointer}
.js-toDoList li .del-btn div {display:inline-block; position:relative; background:#fff}
.js-toDoList li .del-btn div.del-cover {top:-13px; left:0; width:21px; height:2px; border-radius:2px 2px 0 0; transform:translate(0, 0)}
.js-toDoList li .del-btn div.del-cover::before {content:""; position:absolute; top:-1px; left:30%; width:8px; height:2px; background:#fff; border-radius:2px 2px 0 0}
.js-toDoList li .del-btn:hover div.del-cover {animation:cover 1s}
.js-toDoList li .del-btn:hover div {background:#f24848}
.js-toDoList li .del-btn:hover div.del-cover::before {background:#f24848}
.js-toDoList li .del-btn div.del-body {top:-16px; left:2px; width:17px; height:16px; border-radius:0 0 2px 2px}
.js-toDoList li .del-btn div.del-body::before {content:""; position:absolute; top:2px; left:2px; width:2px; height:12px; background:#000; border-radius:0 0 0 3px}
.js-toDoList li .del-btn:hover div.del-body::before {background:#fff}

@keyframes cover {
    0% {
        top:-13px;
        transform:rotate(0deg);
    }
    20% {
        top:-18px;
        transform:rotate(0deg);
    }
    30% {
        top:-18px;
        transform:rotate(-8deg);
    }
    40% {
        top:-18px;
        transform:rotate(20deg);
    }
    50% {
        top:-18px;
        transform:rotate(-8deg);
    }
    60% {
        top:-18px;
        transform:rotate(0deg);
    }
    80% {
        top:-13px;
        transform:rotate(0deg);
    }
}

/* background */
.bgImage {position:absolute; top:0; left:0; width:100vw; height:100vh; z-index:-1; animation:fadeIn .5s linear}
@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

/* weather */
.js-weather {color:#fff; font-weight:800}
.ico-location {position:relative; display:inline-block; margin:0 4px; width:8px; height:8px; border:4px solid #fff; background:#fff; transform:rotate(45deg); border-radius:100% 100% 0 100%}
.ico-location::after {content:""; display:block; position:absolute; top:50%; left:50%; width:7px; height:7px; border-radius:100%; background:#18dcff; transform:translate(-50%, -50%)}
/* clock */
.clock {position:relative; display:flex; flex-flow:column wrap; margin-left:21.25px; width:280px; height:100px}
.block {width:calc(100% / 12); height:20%; color:#636e72; transition:.4s; font-weight:600}
.block:not(:nth-child(N+16)):nth-child(n+11), .block:not(:nth-child(n+46)):nth-child(n+41) {margin-right:10px}
.block:not(:nth-child(n+31)):nth-child(n+26) {margin-right:20px}
.block::before {content:attr(data-num); position:relative; display:block; font-size:16px; width:100%; height:100%; line-height:20px; text-align:center}
.block:nth-child(-n+10)::before {content:"0" attr(data-num)}
.block.active::before {color:#fff}
.block.second::before {color:#ff7675}
.divider {position:absolute; top:20%; left:calc(50% + 19px); width:2px; height:60%; background:#fff}